<h1>Comments</h1>

<% @comments.each do |comment| %>
    Commenter: <a href="/users/<%= comment.user.id %>"><%= comment.user.login %></a>
    <p>
    Write comment: <%= comment.body %>
    <p>
    To post:  <a href="/posts/<%= comment.post_id %>"><%= comment.post.title %></a>
    <p>
    ------------------------------------------------------------------
    <p>
<% end %>