<h1>Create new user</h2>

<%= form_with model: @user do |form| %>
    <div>
        <%= form.label :login %><br>
        <%= form.text_field :login %>
    </div>

     <div>
        <%= form.label :password %><br>
        <%= form.text_field :password %>
    </div>

    <div>
        <%= form.submit value = "Save" %>
    </div>

<% end %>