<%= image_tag avatar_url(@user), class: "rounded-circle" %>
<h2 div class="d-inline-flex">Profile <%= @user.email %></h2>
<div class="d-inline-flex ">
    <% if current_user == @user %>
        <%= link_to "Log out" , destroy_user_session_path, data: { "turbo-method": :delete }, class: "btn btn-danger" %>
    <% else %>
        <% if Subscribe.find_by(user: current_user, sub_to: @user).present? %>
            <%= link_to "Unsubscribe" , unsubscribe_user_path(@user), data: {"turbo-method": :post}, class: "btn btn-secondary d-inline-flex" %>
        <% else %> 
            <%= link_to "Subscribe" , subscribe_user_path(@user), data: {"turbo-method": :post}, class: "btn btn-primary d-inline-flex" %>
        <% end %>
    <% end %>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Post title</th>
            <th class="col">Post body</th>
            <% if current_user == @user %>
                <th class="col">Draft?</th>
            <% end %>
            <th class="col">Tags</th>
        </tr>
    </thead>
    <% @user.posts.each do |post| %>
        <% if post.draft == true and current_user != @user %>
        <% else %>
        <tr>
            <th><%= post.id %></th>
            <th>
                <%= link_to post.title, post %>
            </th>
            <th>
                <%= post.body %>
            </th>
            <% if current_user == @user %>
                <th>
                    <%= post.draft %>
                </th>
            <% end %>
            <th>
                <%= post.tag_list %>   
            </th>
        </tr>
        <% end %>
    <% end %>
</table>
</div>