<div class = "d-flex">
    <h2>Posts</h2>
    <%= link_to "New post", new_post_path, class: "btn btn-primary mt-1" %>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="col">#</th>
            <th class="col">Author</th>
            <th class="col">Post title</th>
            <th class="col">Post body</th>
             <th class="col">Draft</th>
            <th class="col">Tags</th>
        </tr>
    </thead>
    <% @posts.each do |post| %>
        <tr>
            <th><%= post.id %></th>
            <th>
                <%= link_to post.user.email, user_path(post.user), class: "link-info" %>
            </th>
            <th>
                <%= link_to post.title, post %>
            </th>
            <th>
                <%= post.body %>
            </th>
            <th>
                <%= post.draft %>
            </th>
            <th>
                <%= post.tag_list %>   
            </th>
        </tr>
        <%end%>
</table>