<h2>
    <%= @post.title %>
</h2>
<align="justify">
    <%= @post.body %>
        <p>
        <h2>Comments</h2>
        <%= form_for [@article, Comment.new] do |f| %>
            <%= f.text_area :body, placeholder: "Add a comment" %><br/>
            <%= f.submit "Add Comment" %>
        <% end %>
        <%= render @post.comments %>
            <hr>
                <p>
                <div style="text-align: right">
                    <b>Author:</b>
                    <%= link_to @post.user.email, user_path(@post.user) %>
                </div>