<%= simple_form_for @sub do |f| %>
    <%= f.association :user, label_method: :login, value_method: :id %>
    <%= f.input :sub_to_id, as: :select, collection: User.pluck(:login,:id)  %>   
    <%= f.button :submit, class: "btn btn-primary mt-2" %>
<%end%>


<% if flash[:error] %>
<div class = "col float-start">
 <div class="alert alert-info mt-2">
    <%= flash[:error] %>
 </div>
</div>
 <%end%>
 